@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;400;800;900&family=Ephesis&family=Great+Vibes&display=swap");


html {
    background-color: var(--cor-fundo-cinza-escuro);
    font-size: 62.5%;
    color: var(--cor-branca);
    font-weight: 300;
    scroll-behavior: smooth;
  }
  
body {
    background-color: var(--cor-fundo-transparente);
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
}

.informacoes .imagem-sobre-mim a {
    margin-left: 4.5px;
}
  
.imagem-sobre-mim a:hover {
    background-color: var(--cor-a);
    padding: 2px 5px;
    border-radius: 1rem;
    /* color: var(--cor-primaria); */
}

.container {
    max-width: 1140px;
    margin: auto;
    margin-top: 10%;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
}

  /* .botoes div a {
    flex-wrap: nowrap;
  } */
  
.justify-content-between {
    justify-content: space-between;
}
  
.alinhar-itens-no-centro {
    align-items: center;
}

.redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    text-align: center;
    color: var(--cor-branca);
    margin: 0 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.redes-sociais a i {
    line-height: 40px;
}

.redes-superior a i {
    margin-left: 4.5px;
}
  
.redes-sociais a:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-primaria);
}
  
.outer-shadow {
    box-shadow: 3px 3px #222327dc, -3px -3px 3px #454545;
}
  
.inner-shadow {
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section{
    padding: 7rem 0 7rem;
}
  
.section-title {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
    font-family: var(--fonte-secundaria);
    letter-spacing: 2.7px;
}
  
.section-title h2 {
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
}
  
.botao {
    font-size: var(--fonte-grande);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .3s ease;
    background-color: var(--cor-primaria);
    margin: 2%;
    flex-wrap: nowrap;
}
  
.botao:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-branca);
}

.home {
    margin-bottom: -9%;
}

